

body {
  background-color: darkslategray;
}
form {
  width: 80%;
}
.form-group input {
  width: 40%;
}
.form-group button {
  width: 20%;
}
.form-group {
  height: 60%;
  padding: 20px;
  align-items: flex-start;
  /* width: 70%; */
  border: 1px red solid;
}
.form-group img {
  width: 20%;
  height: auto;
}
/* House colors for student cards */
.Gryffindor {
  background-color:maroon;
  border: goldenrod 4px solid;
}
.Hufflepuff {
  background-color: rgb(196, 196, 13);
  border: black 4px solid;
}
.Slytherin {
  background-color: green;
  border: silver 4px solid;
}
.Ravenclaw {
  background-color: blue;
  border: #cd7f32 4px solid;
}
.minion {
  background-image: linear-gradient(black, red) ;
  border: 3px black solid;
}
/* Mobile phone responsive design */
@media only screen and (max-width: 600px) {
  .card {
    font-size: 10px;
    width: 144px !important;
  }
  .card .btn {
    text-align: center;
    width: 60%;
    height: 40%;
  }
  .form-group {
   height: auto;
   align-content: center;
  }
  .form-group button, .form-group input {
    min-width: 50px;
    font-size: 10px;
  }
  .form-group .img-fluid {
    align-self: center;
  }
}
